@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700&display=swap');
:root{
--font-body-family: 'Poppins', sans-serif;
--font-body-style: normal;
--font-body-weight: 300;
--font-body-weight-bold: 700;
--fond-size-tittle:32px;
--fond-size-subtittle:18px;
--fond-size-parrafo:12px;
--font-parrafo-weight: 300;
--fond-size-section:18px;
/* --font-heading-family: 'Tilt Prism', cursive; */
--font-heading-style: normal;
--font-heading-weight: 500;
--font-heading-weight-bold: 900;
/*colores de letras-fondo-botones*/
--color-primary-font:#333333;
--color-secundary-font-oculto:#DDDDDD;
--color-bg-heading-footer: #E2626B;
--color-bg-heading-footerf:   rgb(48, 6, 48);
--color-bg-body-dia: #F5F5F5;
--color-bg-body-nocturno:#1b171b;
--color-base-solido-button:#E24A4F;
--color-base-button:rgba(62, 203, 208, 0.81);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4
p,
a ,.conteiner {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-body-family);
    font-size: var(--fond-size-subtittle);
    margin: 0;
    padding: 0;
    font-weight: var(--font-body-weight);
  

}
p{
    font-family: var(--font-body-family);
    font-weight: var(--font-parrafo-weight);
    text-align: left;
    margin-inline: 20px;
    font-size: var(--fond-size-parrafo);
    color: var(--color-primary-font);
    margin-top:20px ;

}
.titulo{
    font-family: var(--font-body-family);
    padding-bottom: var(--fond-size-tittle);
    font-size: var(--fond-size-tittle);
    text-align: center;
}
.subtitulo{
    font-family: var(--font-body-family);
    font-size: var(--fond-size-subtittle);
    font-weight: var(--font-body-weight);
    color:var(--color-primary-font);
}
.conteiner{
    margin-right:0 ;
    background-color:var(--color-bg-body-dia);
    padding: 20px;
}
/* IMPLEMENTACION DEL ENCABEZADO */
header{
    width: 100%;
    height: auto;
    background:var(--color-bg-heading-footerf);
    position: sticky;
    top: 0px;
    bottom: 0px;
    z-index: 99;

    text-align: center;

}
.grid-layout{
    display: grid;
    grid-template-columns: 25% 75%;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.grid-layout a{
    text-decoration: none;
    color: var(--color-base-button);
}
.flex-conteiner-header{
    display: flex;
    gap:10px;
    justify-content:flex-start;
    align-content: center;
    text-align: center;
}

.child-logo img a{
    color: var(--color-base-button);
    margin-inline:10px ;
    padding-left: 10px;
}
.logo-img img{
    width: 100px;
    height: auto;
    border-radius:50%;
}

li{
    list-style:none;
}
.flex-navbar,nav, a:hover {
    color: var(--color-bg-body-nocturno);
}
nav,.flex-navbar ,ul,li, a{
    display: flex;

    width: 100%;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
}
.chil-navbar:last-child{
    padding-right: 20px;
}

.txtf{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: 20px;
    margin-top: 10px;
}
/*
.navbar switch{

} */
html{
    scroll-behavior: smooth;
}
section{
    width: 100%;
    height:auto;
}
.divCarrusel{
    width: 100%;
    margin-inline: auto;
}
section .divCarrusel{
  height: 300px;
}
/*IMPLEMENTACION DE SECCION SERVICIO*/
section .divServicio {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
    margin: 0;
}
.divServicioS h2 {
    text-align: center;
}
.divServicio{
    font-family: var(--font-body-family);
    display: flex;
    justify-content: center;
    align-items: center;
}
.bordered table {
    border: solid #ccc 0px; 
    -moz-border-radius: 20px; 
    -webkit-border-radius: 20px; 
    border-radius: 50px; 
    -webkit-box-shadow: 0 3px #ccc; 
    -moz-box-shadow: 0 3px #ccc; 
    box-shadow: 0 3px #ccc; 
    
}
.tablaServicio table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  
}

.divServicio table,th,td{
    border: 1px solid black;
}
th, td {
    padding: 10px;
    text-align: left;
}

thead {
    background-color: var(--color-base-button);
}

th {
    font-weight: var(--font-body-weight-bold);
}

ul {
    padding-left: 20px;
    margin: 0;
}

  
  tr:nth-child(even) td {
    background-color: white;
  }

/* IMPLEMENTACION DE SECCION PRODUCTO */
section .divProducto{
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
}
.divProducto{
    flex-direction: column;

    width: 100%;
}
.cardProds{
    display: flex;
    flex-wrap: wrap;
    gap:30px 30px;
    justify-content:center;
    padding-top:20px ;
    padding-bottom: 20px;
    position: relative;
}

.itemProducto{
    background-color:var(--color-bg-body-dia) ;
    box-shadow:
    inset 0 -48px 48px rgba(212, 209, 209, 0.897),
            4px 4.8px 16px rgba(33, 2, 207, 0.151);
    margin: 10px;
    width: 300px;
    height: 450px;
    position: relative;
    text-align: center;
    border-radius: 20px;
    padding-block: 0px;
    transition: 1.2s;
    overflow: hidden;
}
.itemProducto:hover{
    transform: scale(1.1);
    transition: 1.2s;
}
.cardProds .titulo{
    display: flex;
    justify-content: center;
    align-items: center;

}

.imgCardProd img{
    width:300px;
    height: 200px;
    cursor: pointer;
    transition: 1.2s;
    object-fit: cover;
  

}
.itemProducto .imgCardProd:hover {
    transform: scale(1.1);
    transition: 1.2s;
}
.infoProducto{
    text-align: left;
    padding: 5px 15px;
}
.itemProducto .cardProds .cardBtn {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    cursor: pointer;
    font-size: 0.8rem;
}
.cardBtn ,a{
    font-weight: var(--font-body-weight-bold);
    color:var(--color-bg-body-nocturno);
    font-family: var(--font-body-family);
    text-align: center;
    text-decoration: none;
}
.itemProducto .cardBtn {
    border: 2px solid var(--color-base-button);
    background:var(--color-base-button);
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 20px;
}
button:hover {
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 16%), 0 5px 15px 0 rgb(0 0 0 / 12%);
    font-size: 14px;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.material-symbols-outlined {
padding: 5px;
margin: 5px;
color: white;
background-color: rgb(120, 194, 236);
border-radius: 50%;
}
/*IMPLEMENTACION DE FOOTER*/
footer{
    background: var(--color-bg-heading-footerf);
    position: relative;
    color: var(--color-base-button);
}
.grupo1_footer{
    display: flex;
    width: 100%;
    height: auto;
    align-items: baseline;
    flex-basis: 100%;

}
.box1 {
height: 30%;
    padding: 20px 0;
    flex-grow: 1;
}
.box2 {
    flex-grow: 1;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;

}
.box1 a {
    text-decoration: none;
    color:var(--color-bg-body-dia);
}

#imgFooter {
    width: 50%;
    overflow: auto;
    /*agregado asd*/
    max-width: 150px;
    border-radius: 50%;
}
.box1, .grupo2_footer {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color:var(--color-bg-heading-footerf);
    font-size: 0.9rem;
  padding: 15px;
  color: var(--color-base-button);
}

form {
    margin:  auto;
    width: 340px;
    color: #DDDDDD;
}


.btnSusc ,a{
    font-weight: var(--font-body-weight-bold);
    color:var(--color-bg-body-nocturno);
    font-family: var(--font-body-family);
}
.btnSusc{
    border: 2px solid var(--color-base-button);
    background:var(--color-base-button);
    cursor: pointer;
    border-radius: 0px 20px 20px 0px;
}
  input{
    height: 42px;
    width:200px ;
    border-radius:20px 0px 0px 20px ;
    text-align: center;
    border-color:var(--color-base-button);
  }

.box2 .redesMenu,
.box2 .iconMenu {
    display: flex;
  padding: 5px 0;
}
.box2 .redesMenu a {
  text-decoration: none;

}
.box2 .icon {
  width: 30px;
}

.box2 .iconRedes {
  width: 25px;
  padding-left: 5px;
}
/*Estilo para pantallas de pc a movil */
@media screen and (max-width: 768px) {
    body{
        font-size: 16px ;
    }
    nav {
      padding: 24px 16px;
    }
    nav ul {
      position: fixed;
      flex-direction: column;
      top: 86px;
      left: 10%;
      width: 80%;
      text-align: center;
      transform: translateX(120%);
      transition: transform 0.5s ease-in;
    }

    nav ul li {
      margin: 8px;
    }

    .burger-menu {
      display: block;
    }

    nav ul.show {
      transform: translateX(0);
    }
}