div,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0 6%;
    font-family: 'Raleway', sans-serif;
}

.dflex {
    display: flex;
}

.dnone {
    display: none;
}

#header {
    background-color: white;
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
    z-index: 99;
}

#header .linea01 {
    width: 100%;
    height: 10px;
    background-color: #2082A5;
}

#header .header01 {
    width: 100%;
    padding: 20px 20px 5px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    box-sizing: border-box;
    gap: 1%;
}

#header a{
    margin-left: 2%;
    flex: 30%;
}

#header .boxLogo {
    max-height: 90px;
    min-width: 100px;
    padding-left: 5px;
    padding-block: 10px;
}

#header .boxLogo img {
    width: 100%;
    max-width: 250px;
}

#header .boxMenuIcon img {
    width: 30px;
    align-self: flex-end;
    border: 1px solid black;
    border-radius: 10%;
    padding: 2px;
}

#header .listMenu {
    width: 70%;
    padding: 10px 30px;
    box-sizing: border-box;
}

#header .submenuMinas {
    border-top: 1px solid rgb(182, 179, 179);
    width: 100%;
    padding: 0 20px;
}

#header .listMenu a {
    text-decoration: none;
    color: rgb(53, 51, 51);
}

.opcMenu {
    padding: 5px 0px;
}

.opcMenu img {
    margin-inline: 5px;
    width: 10px;
}

#header .boxMenuEsc {
    flex: 70%;
    display: flex;
    justify-content: space-between;
}

#boxUnju {
    align-self: center;
    margin-right: 2%;
    padding-inline: 5px;
}

#boxUnju img {
    height: 100%;
    width: auto;
}

#boxMenuEsc01 {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    gap: 3px;
}

#boxMenuEsc01 .opcMenuEsc {
    padding: 3px 12px 0px 0px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 243, 1) 90%);
    clip-path: polygon(0 0, 68% 0, 83% 23%, 96% 61%, 100% 100%, 0 100%, 0% 80%, 0% 20%);
}

#boxMenuEsc01 .opcMenuEsc:nth-child(1) {
    width: 44.5px;
}

#boxMenuEsc01 .opcMenuEsc:nth-child(2) {
    width: 58.8px;
}

#boxMenuEsc01 .opcMenuEsc:nth-child(3) {
    width: 110px;
}

#boxMenuEsc01 .opcMenuEsc:nth-child(4) {
    width: 79px;
}

#boxMenuEsc01 .opcMenuEsc:nth-child(5) {}

#boxMenuEsc01 .opcMenuEsc:nth-child(6) {
    width: 91px;
}

#boxMenuEsc01 .opcMenuEsc:nth-child(7) {}

#boxMenuEsc01 .opcMenuEsc a {
    font-size: 14px;
    color: #449fd4;
    font-weight: 700;
    text-decoration: none;
}

#boxMenuRedes {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    margin-left: 4%;
    max-width: 30px;
}

#boxMenuRedes .opcRedes {
    width: 80%;
}

#boxMenuRedes .opcRedes img {
    width: 100%;
}

.separador {
    width: 100%;
    height: 2px;
    background-color: #F0F0F1;
    margin-block: 5px;
}

/* ========================= */

#cuerpo {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
    margin-top: 20px;
}

.noesc {
    display: block;
}

.nomobil {
    display: none;
}

.fila2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#novedades {
    width: 100%;
    margin-inline: auto;
}

#novedades img {
    margin-inline: auto;
}

#cuerpo .linea02 {
    width: 100%;
    height: 5px;
    background-color: #D2D3D5;
    margin-block: 5px;
}

.box_noticias_esc {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 3px solid #D2D3D5;
}

.box_noticias_esc a {
    color: #2082A5;
    font-weight: 700;
}

.imagen_noticias_esc {
    margin-bottom: 5px;
}

.imagen_noticias_esc img {
    aspect-ratio: 4/3;
    object-fit: cover;
}

/* === BLOQUE BOTONES PRIMARIOS */

#cuerpo #btnPrimarios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#cuerpo #btnPrimarios a {
    width: 45%;
    margin-block: 10px;
    text-decoration: none;
    box-sizing: border-box;
}

#cuerpo #btnPrimarios a img {
    display: none;
}

#cuerpo #btnPrimarios .box {
    text-align: center;
    height: 100%;
    padding: 5px 3px;
    vertical-align: middle;
    box-sizing: border-box;
}

#cuerpo #btnPrimarios .box p {
    color: white;
    font-weight: bold;
    height: 100%;
    padding: 10px 2px;
}

#cuerpo #btnPrimarios .color1 {
    background-color: #DB843C;
}

#cuerpo #btnPrimarios .color2 {
    background-color: #2082A5;
}

#cuerpo #btnPrimarios .color3 {
    background-color: #ED2F59;
}

#cuerpo .galeriaTitulo{
    margin: 15px 0 10px;
    color: #ed560a;
    font-weight: bolder;
    font-size: 20px;
}

#galeria {
    width: 100%;
    margin-block: 15px;
    margin-inline: auto;
    display: flex;
}

#galeria img {
    /* max-width: 300px; */
    width: 100%;
    margin-inline: auto;
}

#cuerpo #btnSecundarios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center; */
}

#btnSecundarios .boxSec {
    width: 45%;
    margin-block: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#btnSecundarios .boxSec .secBand {
    width: 15px;
    height: 45px;
    background-color: red;
    margin-right: 5px;
}

#btnSecundarios .boxSec a {
    height: 100%;
    width: 100%;
    text-decoration: none;
}

#btnSecundarios .boxSec .box {
    text-align: center;
    padding-block: 5px;
    height: 100%;
}

#btnSecundarios .boxSec .box p {
    margin-block: 20px;
    margin-inline: 5px;
    color: white;
    font-weight: bold;
}

#btnSecundarios .boxSec .color1 {
    background-color: rgb(39, 168, 13);
}

#btnSecundarios .boxSec .color2 {
    background-color: #DB843C;
}

#btnSecundarios .boxSec .color3 {
    background-color: rgb(74, 26, 207);
}

#btnSecundarios .boxSec .color4 {
    background-color: rgb(172, 63, 199);
}

#btnSecundarios .boxSec .color4 .relleno{
    background-color: rgb(172, 63, 199);
}
/*===========INTERNAS============*/
.contenido {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.contenido img {
    width: 100%;
    max-width: 600px;
}
.contenido .ins_siu_img img{ 
    width: 25%;
}
.contenido .img_paso , .ins_siu_img{
    text-align: center;
}
.contenido .img_paso img{ 
    width: 60%;
}
.botonoes {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

#iconos {
    width: 34px;
    height: 34px;
    padding: 0px 0px;
    margin: 5px;
}

.material-symbols-outlined{
    padding: 5px;
    margin: 5px;
    color:white;
    background-color:rgb(120, 194, 236) ;
    border-radius: 50%;
}

.fcentrar {
    /*centrar */
    display: flex;
    justify-content: center;
    gap: 30px;
}

#maing {
    display: grid;
    grid-template-columns: 200px 2fr;
    grid-gap: 5px;
    text-align: justify;
    line-height: 25px;
   
}
.parteIzq{
    grid-template-areas: 1;
    width: 200px;
    text-align: center;
    padding: 0%;
}
.parteDer{
    grid-template-areas:2;
    margin: 10px;
    
}
.btn2 {
    width: 330px;
    padding: 10px 2px;
    background-color: #F58634;
    border-radius: 10%;
    color: white;
    justify-content: center;
}
.btn2 a{
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    color: white;
}

.fcuadro{
    display: flex;
    margin-left: 5px;
    padding: 10px;
    gap:30px;
}

.cuadro_img img{
    width: 100%;

}
.cuadro_img{
    width: 40%;
}
.cuadro_texto{
    width: 60%;
}
.cuadro_borde{
border:2px solid  rgb(120, 194, 236) ;
}
.cuadro_ingreso a{
    padding: 10px;
    border-radius: 5px solid #2082A5 ;
    color: white;
}
.relleno_pre{
	background-color: rgb(120, 194, 236) ;
    box-shadow: 0 0.5em 1em -0.125em hsl(0deg 0% 4% / 10%), 0 0 0 1px hsl(0deg 0% 4% / 2%);
	width: auto;
	padding: 5px;
    border-radius: 5px;
    text-align: center;
}
.recuadro1 { 
    background-color:rgb(120, 194, 236) ;
}
.recuadro2{
    background-color:#f5acac;
  
}
.recuadro3{
    background-color:#99dd7e;
}
.relleno {
	width: auto;
	padding: 5px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0.5em 1em -0.125em hsl(0deg 0% 4% / 10%), 0 0 0 1px hsl(0deg 0% 4% / 2%);
    color: #4a4a4a;
} 
.ftext { 
    display: flex;
    align-items: center;
}
.flink { 
    display: flex;
}

.video-flex{
	display: grid;
    grid-template-columns: 1fr;
  gap: 20px;
}

.video_solo{
  width: 100%;
    aspect-ratio: 16/9;
    max-width: 600px;
}

.video-res {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;   
}
.video {
    width:100% ;
    aspect-ratio: 16/9;
}


/*---------submenu pag internas--------*/
.opcMenu1 {
    border-radius: 3px;
    background:#ff9a47;
    padding: 20px;
    width: 200px;
}
.opcMenu2{
    border-radius: 3px;
    background:#208dcc;
    padding: 20px;
    width: 200px;
}
.opcMenu3{
    border-radius: 3px;
    background:#fa558c;
    padding: 20px;
    width: 200px;
}
.opcMenu4{
    border-radius: 3px;
    background:rgb(69, 163, 69);
    padding: 20px;
    width: 200px;
}
.opcMenu5{
    border-radius: 3px;
    background:#b265f1;
    padding: 18px;
    width: 200px;
}
.Submenu_interno{
    border-radius: 3px;
    background:#2082A5;
    padding: 0px;
    margin: 0px;
    width: 200px;
    text-align: center;  
    box-shadow: 0 0.5em 1em -0.125em hsl(0deg 0% 4% / 10%), 0 0 0 1px hsl(0deg 0% 4% / 2%);
    font-weight: bold;
}
.parteIzq a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.959);
    font-size: 16px;
}

/* ========== FOOTER ============ */

#footer {
    background-color: white;
    width: 100%;
    height: 100px;
}

.box1-footer {
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-inline: 10%;
    gap: 1%;
}

.box1-footer .linkF {
    width: 40%;
    padding: 8px;
    text-align: center;
    margin-block: 8px;
}

.box1-footer .linkF a {
    width: 100%;
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    color: rgb(5, 11, 99);
    font-family: Arial, Helvetica, sans-serif;
}

.box1-footer .linkF .lineaBaja {
    width: 100%;
    height: 3px;
    background-color: #DB843C;
}

.box2-footer {
    width: 100%;
    justify-content: center;
    padding: 15px 10px;
}

.box2-footer img {
    width: 100%;
    max-width: 300px;
}

/* ========================== */

@media screen and (max-width: 900px) {

    body {
        padding: 0;
    }

    #header .boxMenuEsc {
        display: none;
    }

    #header .boxLogo {
        width: 80%;
    }

    #header .boxMenuIcon {
        width: 18%;
        display: flex;
        justify-content: flex-end;
        margin-right: 10px;
    }

    .box1-footer {
        flex-wrap: wrap;
    }

    .box1-footer .linkF {
        flex: 40%;
    }

    .box2-footer img {
        width: 80%;
    }
    /*paginas internas*/
    #maing .parteIzq{
        display: none;
    }
    
    #maing {
        grid-template-columns: 100%;
        text-align: justify;
        line-height: 25px;
        align-items: center;
        
    }
    .fcuadro a {
        font-size: 12px;
    }
    .fcuadro{ 
        display: inline-flex;
        text-align: inherit;
        flex-direction: column;
        align-items: center;

    }
    .cuadro_img ,.cuadro_texto{
        width: 100%;
    }
    .cuadro_link{
        display: inline-flex;
        justify-content: center;
    }
    .contenido .img_paso img{
        width: 100%;
    }
    .flink{
        display: block;
    }
    .ftext{
        display: block;
    }
  

    
    .video-res {
        grid-template-columns: 1fr;   
    }

}

@media screen and (min-width: 900px) {
    #cuerpo {
        grid-template-columns: 2fr 3fr;
        gap: 50px;
    }

    .noesc {
        display: none;
    }
    .nomobil {
        display: block;
    }

    #novedades {
        grid-area: 1 / 1 / 2 / 2;
    }

    
    #agenda {
        grid-area: 2 / 1 / 3 / 2;
    }

    #cuerpo #btnPrimarios {
        grid-area: 1 / 2 / 2 / 3;
        justify-content: space-between;
    }

    #galeria {
        grid-area: 3 / 2 / 4 / 3;
    }

    #cuerpo #btnSecundarios {
        grid-area: 2 / 2 / 3 / 3;
    }

    #novedades > .linea02 {
        display: none;
    }
    #cuerpo #btnPrimarios > .linea02 {
        margin-top: 15px;
    }

    #cuerpo #btnSecundarios > .linea02 {
        display: none;
    }

    #cuerpo #btnPrimarios a {
        width: 30%;
        margin-block: 0;
    }

    #cuerpo #btnPrimarios a img {
        display: block;
        width: 100%;
        margin: 25px 0 10px;
    }

    #cuerpo #btnSecundarios {
        flex-wrap: nowrap;
        gap: 5px;
    }
  
    .video-flex{
	display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
}